---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Justin's Portfolio";
---

<div id="smooth-wrapper">
  <div id="smooth-content" class="flex justify-center">
    <BaseLayout pageTitle={pageTitle} />
  </div>
</div>

<script>
  import "../scripts/scroll-smoother.js";
</script>
