<div>
  <p class="text-white text-center w-full">
    For inquiries, email me <a
      href="mailto:justinsanveloso.work@gmail.com"
      class="text-lime glow duration-500">@justinsanveloso.work@gmail.com</a
    >
  </p>
</div>
