---
const links = [
  {
    href: "https://github.com/justinveloso",
    src: "/icons/github-logo.svg",
    alt: "GitHub",
  },
  {
    href: "https://linkedin.com/in/justinveloso",
    src: "/icons/linkedin-logo.svg",
    alt: "LinkedIn",
  },
  {
    href: "mailto:justin@example.com",
    src: "/icons/gmail-logo.svg",
    alt: "Email",
  },
]
---

<div class="flex flex-row justify-between w-screen h-[64px] p-[20px]">
	{/* Left */}
	<div class="flex h-full w-full items-center ubuntu-mono-regular text-white">
		<p>JUSTIN VELOSO</p>
	</div>

	{/* Right */}
	<div class="flex flex-row justify-end h-full w-full items-center gap-[20px]">
		{links.map((link, index) => (
		<a
			class="aspect-square h-full"
			key={index}
			href={link.href}
		>
			<img 
				src={link.src}
				alt={link.alt}
				class="aspect-square h-full"
			>
		</a>
		))}
	</div>
</div>
