---

---

<div class="flex flex-col w-full">
  <div
    class="flex min-[450px]:flex-row flex-col-reverse gap-[20px] min-[450px]:max-h-[260px]"
  >
    {/* Left */}
    <div class="w-full">
      <img
        src="/hero-image.png"
        class="min-[450px]:h-[100%] w-full object-cover rounded-[30px] h-[200px]"
      />
    </div>

    {/* Right */}
    <div
      class="flex flex-col w-full min-[450px]:text-right text-left min-[450px]:items-end items-left justify-center gap-[10px]"
    >
      <div class="flex flex-col w-[240px]">
        <h5 class="text-white w-full text-left font-[600]">HELLO!</h5>
        <h1 class="text-lime leading-[60px]">
          <span class="text-white">I'm</span>
          Justin Veloso
        </h1>
      </div>
      <h4 class="text-lime font-[600]">FULL-STACK DEVELOPER</h4>
      <p class="text-white">
        I build responsive user interfaces and scalable backend APIs using
        React, Next.js, FastAPI, and AWS.
      </p>
    </div>
  </div>

  {/* Bottom */}
  <div class="flex flex-row"></div>
</div>
